name: Release combined blocklist

on:
  workflow_dispatch:
  push:
  schedule:
    - cron: "0 1 */7 * *"

env:
  BLOCKLIST_DNSCRYPT: "blocklist-dnscrypt.txt.zst"
  BLOCKLIST_UNBOUND: "blocklist-unbound.conf.zst"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    defaults:
      run: { shell: bash }

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compile blocklist
        run: |
          bash compile.bash

      - name: Grab date as tag
        run: |
          echo "TAG=$( date '+%Y-%m-%d.%H%M%S' )" >> "$GITHUB_ENV"

      # N.B. Remeber to set permission for github token
      # Settings > Actions > General > Workflow permissions
      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create "$TAG" \
            --latest \
            --title "$TAG" \
            "$BLOCKLIST_DNSCRYPT" "$BLOCKLIST_UNBOUND"
